<p id="notice"><%= notice %></p>

<p>
  <b>Slug:</b>
  <%= @category.slug %>
</p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Strapline:</b>
  <%= @category.strapline %>
</p>

<p>
  <b>Timestamps:</b>
  <%= @category.timestamps %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
