!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %title EMS
      %meta{:content => "EMS", :name => "description"}
        %meta{:content => "Vincent Siebert", :name => "author"}
          = stylesheet_link_tag "ems/application", :media => "all"
          = javascript_include_tag "ems/application"
          = csrf_meta_tags
  %body
    #wrapper
      #header
        %h1#site_title{:data => {"bind" => "window.Ems.title"}}
        %ul#tabs.header-item
          %li{:data => {"foreach-nav" => "window.Ems.navLinks"}}
            %a{:data => {"bind" => "nav.text", "bind-href" => "nav.href", "addclass-current" => "nav.selected"}}
            %ul{:data => {"renderif" => "nav.secondary"}}
              %li.secondSub{:data => {"foreach-secnav" => "nav.secondary"}}
                %a{:data => {"bind" => "secnav.text", "bind-href" => "secnav.href", "addclass-selected" => "secnav.selected"}}




      #content_wrapper
        - if flash.keys.any?
          - flash.each do |type, message|
            = content_tag :div, message, :class => "flash flash_#{type}"

        =yield

      %footer#footer
        %p
          \© The Beans Group #{Time.now.year}