!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %title EMS
      %meta{:content => "EMS", :name => "description"}
        %meta{:content => "Vincent Siebert", :name => "author"}
          = stylesheet_link_tag "ems/application", :media => "all"
          = stylesheet_link_tag params[:controller]
          = javascript_include_tag "ems/application"
          = csrf_meta_tags
  %body
    #wrapper
      #header
        #test= Rails.application.config.assets.all
        = render_navigation :context => :ems, :level => 1..2, :expand_all => true

      #content_wrapper
        - if flash.keys.any?
          - flash.each do |type, message|
            = content_tag :div, message, :class => "flash flash_#{type}"

        =yield

      %footer#footer
        %p
          \© The Beans Group #{Time.now.year}