= simple_form_for @article do |f|
  - main_content "Article List" do
    %fieldset{ :class=>"inputs"}
      %ol
        %li
          = f.input :title

        %li
          = f.input :standfirst, :input_html => { :rows => 4 }

        %li
          = f.input :image
          
        %li
          = f.input :content

        / %li
        /   - for i in @article.images
        /     %p= i.title
        /     = image_tag i.image.url

    %fieldset{ :class=>"button"}
      %ol
        %li
          = f.submit

  - side_content do
    %fieldset{ :class=>"inputs"}
      %ol
        %li
          = f.input :status, :as => :select, :collection => [:draft, :pending, :live], :include_blank => false

        %li
          = f.input :publish_from, :as => :string, :input_html => { :class => 'datepicker', :value =>  @article.try(:publish_from).try(:strftime,'%d/%m/%Y'), :data => { :alt_date => "alt-date-" }}

        %li
          = f.association :channels, :collection => Ems::Channel.joins(:categories).where(:ems_categories_channels => {:category_id => @article.category.id})

        %li
          = f.label :tags
          %input{ :type=>:text, :data => { :autoCompleteSearch => "/ems/tags.json" }}
          %ul#tag-list
            - @article.tags.each do |tag|
              %li
                = tag.title
          .hidden_fields
            = f.association :tags

        %li
          = f.label "Article Priority"
          = f.input :hot
          = f.input :featured
