<h1>Listing articles</h1>

<table>
  <tr>
    <th>Slug</th>
    <th>Title</th>
    <th>Standfirst</th>
    <th>Content</th>
    <th>Hot</th>
    <th>Featured</th>
    <th>Toc</th>
    <th>Comment</th>
    <th>Meta title</th>
    <th>Meta description</th>
    <th>Publish from</th>
    <th>Status</th>
    <th>Content disposition</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.slug %></td>
    <td><%= article.title %></td>
    <td><%= article.standfirst %></td>
    <td><%= article.content %></td>
    <td><%= article.hot %></td>
    <td><%= article.featured %></td>
    <td><%= article.toc %></td>
    <td><%= article.comment %></td>
    <td><%= article.meta_title %></td>
    <td><%= article.meta_description %></td>
    <td><%= article.publish_from %></td>
    <td><%= article.status %></td>
    <td><%= article.content_disposition %></td>
    <td><%= article.category_id %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
