- title_bar "Articles", [{"title"=>"New Article", "url"=>new_article_path}]

%div#active_admin_content.without_sidebar
  - main_content "Article List" do
    - index_table ["Title", "Created", "", "", ""] do
      - @articles.each_with_index do |article, i|
        %tr{:class=>cycle( "odd", "even") }
          %td= article.title
          %td= article.created_at.strftime("%b %e, %l:%M %p")
          %td= link_to 'Show', article
          %td= link_to 'Edit', edit_article_path(article)
          %td= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete