<h1>Listing channels</h1>

<table>
  <tr>
    <th>Slug</th>
    <th>Name</th>
    <th>Timestamps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @channels.each do |channel| %>
  <tr>
    <td><%= channel.slug %></td>
    <td><%= channel.name %></td>
    <td><%= channel.timestamps %></td>
    <td><%= link_to 'Show', channel %></td>
    <td><%= link_to 'Edit', edit_channel_path(channel) %></td>
    <td><%= link_to 'Destroy', channel, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Channel', new_channel_path %>
